{% load staticfiles %}
<link rel="stylesheet" href="{% static 'home/css/slick.css' %}"> <!-- Resource style -->
<link rel="stylesheet" href="{% static 'home/css/slick-theme.css' %}"> <!-- Resource style -->
<link rel="stylesheet" href="{% static 'home/css/default.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'home/css/component.css' %}"> <!-- Resource style -->



<script src="{% static 'home/js/modernizr.custom.js' %}"></script> <!-- Modernizr -->
<link href='/site_media/static/css/site-08e307dc3c.css' rel='stylesheet' />
<style media="screen">
  body {
    background : black ;
  }
  .companies > div > img{
    margin-left: 1vw;
  }
</style>
