{% extends "site_base.html" %}

{% load pinax_blog_tags %}

{% block body_class %}blog{% endblock %}






{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}


          <h1>
              Bize Ulasin
          </h1>
        
        <p>
                Sirketimize hakkinda en yeni haberler

            </p>
                <p>
                    <a href="{% url "pinax_blog:blog_feed" "all" "atom" %}"><i class="fa fa-rss"></i> Atom Feed</a>
                </p>
                <div class="search">
                    {% if current_section == "all" %}
                        {% url "pinax_blog:blog" as search_url %}
                    {% else %}
                        {% url "pinax_blog:blog_section" current_section.slug as search_url %}
                    {% endif %}

                  <h3>secenekle</h3>
                </div>
                <ul class="">
                    <li class="{% if current_section == "all" %}active{% endif %}">
                        <a href="{% url "pinax_blog:blog" %}">All</a>
                    </li>
                    {% blog_sections as sections %}
                    {% for section in sections %}
                        <li class="{% if current_section == section %}active{% endif %}">
                            <a href="{% url "pinax_blog:blog_section" section.slug %}">{{ section.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
