{% extends "iletisim/iletisim_base.html" %}
{% load i18n %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h2>Iletisim Bilgilerimiz (Izmir)</h2></br>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Adres</th>
      <td> : İZMİR ŞUBE 1443 Sokak No:2/H </br>Tesisat İş Merkezi B Blok Yenişehir İZMİR</td>
    </tr>
    <tr>
      <th scope="row">Telefon</th>
      <td>: +90 (232) 469 96 37</td>
    </tr>
    <tr>
      <th scope="row">Fax</th>
      <td> : +90 (232) 469 71 26</td>
    </tr>
    <tr>
      <th scope="row">e-posta</th>
      <td> : bilgi@atakelektrik.com</td>
    </tr>
    <tr>
      <th scope="row">e-posta</th>
      <td> : izmirsatis@atakelektrik.com</td>
    </tr>
  </tbody>
</table>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6251.176269509339!2d27.16513477645908!3d38.427882068583216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zxLBaTcSwUiDFnlVCRSAxNDQzIFNva2FrIE5vOjIvSCBUZXNpc2F0IMSwxZ8gTWVya2V6aSBCIEJsb2sgWWVuacWfZWhpciDEsFpNxLBS!5e0!3m2!1sen!2str!4v1469815902389" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>



{%endblock%}
