{% extends "iletisim/iletisim_base.html" %}
{% load i18n %}


{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h2>Iletisim Bilgilerimiz (Manisa)</h2></br>

<table class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">Adres</th>
      <td> : Güzelyurt Mah. 5775 Sk. No:70 </br>ORTA ÖLÇEKLİ SANAYİ BÖLGESİ MANİSA</td>
    </tr>
    <tr>
      <th scope="row">Telefon</th>
      <td>: +90 236 233 28 88</td>
    </tr>
    <tr>
      <th scope="row">Fax</th>
      <td> : +90 236 233 21 70</td>
    </tr>
    <tr>
      <th scope="row">e-posta</th>
      <td> : bilgi@atakelektrik.com</td>
    </tr>
    <tr>
      <th scope="row">e-posta</th>
      <td> :  manisasatis@atakelektrik.com</td>
    </tr>
  </tbody>

</table>

<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d24934.8550801367!2d27.378167560546284!3d38.629173306947905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zIEfDvHplbHl1cnQgTWFoLiA1Nzc1IFNrLiBObzo3MCBPUlRBIMOWTMOHRUtMxLAgU0FOQVnEsCBCw5ZMR0VTxLAgTUFOxLBTQQ!5e0!3m2!1sen!2str!4v1469817837621" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


{%endblock%}
