.cbp-hrmenu {
    width: 100%;
    margin-top: 2em;
    border-bottom: 4px solid rgb(177, 0, 0);
}

/* general ul style */

.cbp-hrmenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* first level ul style */

.cbp-hrmenu> ul, .cbp-hrmenu .cbp-hrsub-inner {
    width: 100%;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 1.875em;
}
.cbp-hrmenu> ul> li {
    display: inline-block;
}
.cbp-hrmenu> ul> li> a {
    font-weight: 700;
    padding: 1em 2em;
    color: white;
    display: inline-block;
}
.cbp-hrmenu> ul> li> a:hover {
    color: rgb(177, 0, 0);
}
.cbp-hrmenu> ul> li.cbp-hropen a, .cbp-hrmenu> ul> li.cbp-hropen> a:hover {
    color: #fff;
    background: rgb(177, 0, 0);
}

/* sub-menu */
.cbp-hrmenu {
  position : relative;


}
.cbp-hrsub {
  position : absolute;
  min-width: 33%;
  transform: translate(-20% , 0%);

}
.cbp-hrsub-inner {
  position: relative;
  min-width: 50%;
}

.cbp-hrmenu .cbp-hrsub {
    z-index: 10;
    display: none;
    background: rgb(177, 0, 0);

}
.cbp-hropen .cbp-hrsub {
    display: block;
    padding-bottom: 3em;
}
.cbp-hrmenu .cbp-hrsub-inner> div {
    min-width: 33%;
    float: left;
    position: relative;
    padding: 0 2em 0;
}
.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after {
    content: " ";
    display: table;
}
.cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both;
}
.cbp-hrmenu .cbp-hrsub-inner> div a {
    line-height: 2em;
}
.cbp-hrsub h4 {
    color: white;
    padding: 2em 0 0.6em;
    margin: 0;
    font-size: 160%;
    font-weight: 300;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) {
    .cbp-hrmenu {
        font-size: 80%;
    }
}
@media screen and (max-width: 43em) {
    .cbp-hrmenu {
        left :0;
        transform: translate(0% , 0%);
        font-size: 120%;
        border: none;
    }
    .cbp-hrsub{
      transform: translate(0%,0%);
    }
    .cbp-hrmenu> ul, .cbp-hrmenu .cbp-hrsub-inner {
        width: 100%;
        padding: 0;
    }
    .cbp-hrmenu .cbp-hrsub-inner {
        padding: 0 2em;
        font-size: 75%;
    }
    .cbp-hrmenu> ul> li {
        display: block;
        border-bottom: 4px solid rgb(220, 78, 65);
    }
    .cbp-hrmenu> ul> li> a {
        display: block;
        padding: 1em 3em;
    }
    .cbp-hrmenu .cbp-hrsub {
        position: relative;
    }
    .cbp-hrsub h4 {
        padding-top: 0.6em;
    }
}
@media screen and (max-width: 36em) {
    .cbp-hrmenu .cbp-hrsub-inner> div {
        width: 100%;
        float: none;
        padding: 0 2em;
    }
}
.container {
    background: white;
    width: 100%;
}
.footer {
    margin: 0;
    padding: 0;
    border-top: 4px solid rgb(177, 0, 0);
    min-height: 100vh;
    background: rgb(58, 58, 58);
}
.companies {
    margin: 2.2em;
}
.headerfx {
    background: rgb(58, 58, 58);
}
.icons > ul > li {
	float:left;
	list-style: none;
	margin-left: 3vw;
	font-size: 120%;
}
.single-nav-link{
  font-weight: 700;
  padding: 1em 2em;
  color: white;
  display: inline-block;
  
}

.single-nav-link:hover{
  color: rgb(177, 0, 0);
}
